<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile View</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="src/css/allpage.css" />
  <link rel="stylesheet" href="src/css/profile/profileStyle.css" />
</head>

<body>
  <%- include("../components/navigation", {data})%>
    <div class="container div-second">
      <div class="main-container">
        <div class="profile-details">
          <form class="g-3 edit-profile-form" enctype="multipart/form-data" id="form" method="post"
            action="/profileEdit" onsubmit="return validator(event)">
            <div class="container edit-img-container">
              <div class="img-container">
                <img src="uploads/<%=profileDetails[0][0].img_path%>" alt="Profile Image" id="profileImage">
              </div>
              <div class="edit-link">
                <input name="newImage" type="file" class="form-control" id="choose-file"
                  accept="image/png, image/jpg, image/jpeg" style="width: 250px;" oninput="loadPreview(event)">
              </div>
            </div>
            <br>
            <div>
              <label class="form-label">First Name</label>
              <input name="firstname" type="text" class="form-control" value="<%= profileDetails[0][0].firstname%>">
            </div>
            <br>
            <div>
              <label class="form-label">Last Name</label>
              <input name="lastname" type="text" class="form-control" value="<%= profileDetails[0][0].lastname%>">
            </div>
            <br>
            <div class="col-12">
              <label class="form-label">Date of Birth</label>
              <input name="dob" type="date" class="form-control" max="<%= new Date().toISOString().split('T')[0]%>"
                value="<%= new Date(profileDetails[0][0].dob).toISOString().split('T')[0]%>">
            </div>
            <br>
            <div class="col-12">
              <label class="form-label">Email</label>
              <% if(profileDetails[0][0].role==4) { %>
                <input name="email" type="text" class="form-control" value="<%= profileDetails[0][0].email%>" disabled>
                <% } else{ %>
                  <input name="email" type="text" class="form-control" value="<%= profileDetails[0][0].email%>">
                  <% } %>
            </div>
            <div class="edit-btn-container">
              <button type="submit" class="edit-profile-btn">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="js/commonFunction/commonFunction.js"></script>
    <script src="js/profile/profile.js"></script>
</body>

</html>