<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile View</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="src/css/allpage.css" />
  <link rel="stylesheet" href="src/css/dashboardCustom.css" />
  <link rel="stylesheet" href="src/css/profile/profileStyle.css" />
</head>

<body>
  <%- include("../components/navigation")%>
    <div class="container div-second">
      <div class="main-container">
        <div class="profile-details">
          <form class="row g-3" action="/profileEdit">
            <div class="container edit-img-container">
              <div class="img-container">
                <img class="currentProfileImage" src="icons/profile.png" alt="">
              </div>
              <div class="edit-link">
                <a href="#">Edit</a>
                <img src="/icons/edit.svg" alt="" width="20" height="20">
              </div>
            </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">First Name</label>
              <input type="text" class="form-control" value="<%= profileDetails[0][0].firstname  %>">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Last Name</label>
              <input type="text" class="form-control" value="<%= profileDetails[0][0].lastname %>">
            </div>
            <div class="col-12">
              <label for="inputDateOfBirth" class="form-label">Date of Birth</label>
              <input type="date" class="form-control" placeholder="1234 Main St"
                value="<%= profileDetails[0][0].dob %>">
            </div>
            <div class="col-12">
              <label for="inputEmail" class="form-label">Email</label>
              <input type="text" class="form-control" value="<%= profileDetails[0][0].email%>">
            </div>
            <div class="edit-btn-container">
              <button type="submit" class="edit-profile-btn">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</body>

</html>