<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile View</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="src/css/allpage.css" />
  <link rel="stylesheet" href="src/css/dashboardCustom.css" />
  <link rel="stylesheet" href="src/css/profile/profileStyle.css" />
  <link rel="stylesheet" href="src/css/manager/manager.css" />
</head>

<body>
  <%- include("../components/navigation")%>
    <div class="container div-second">
      <div class="main-container">
        <div class="profile-details">
          <form class="g-3 edit-profile-form" id="form" method="post">
            <div class="container edit-img-container">
              <div class="img-container">
                <img class="currentProfileImage" src="icons/profile.png" alt="">
              </div>
              <div class="edit-link" onclick="addManager()">
                <a href="#">Change</a>
                <img src="/icons/edit.svg" alt="" width="20" height="20">
              </div>
            </div>
            <div>
              <label class="form-label">First Name</label>
              <input name="firstname" type="text" class="form-control" value="<%= profileDetails[0][0].firstname  %>">

            </div>
            <div>
              <label class="form-label">Last Name</label>
              <input name="lastname" type="text" class="form-control" value="<%= profileDetails[0][0].lastname %>">
            </div>
            <div class="col-12">
              <label class="form-label">Date of Birth</label>
              <input name="dob" type="date" class="form-control" placeholder="1234 Main St"
                value="<%= profileDetails[0][0].dob %>">

            </div>
            <div class="col-12">
              <label class="form-label">Email</label>
              <% if(profileDetails[0][0].Role==4) { %>
                <input name="email" type="text" class="form-control" value="<%= profileDetails[0][0].email%>" disabled>
                <% } else{ %>
                  <input name="email" type="text" class="form-control" value="<%= profileDetails[0][0].email%>">
                  <% } %>

            </div>
            <div class="edit-btn-container">
              <button type="button" class="edit-profile-btn" onclick="submitbtn();">Save</button>
            </div>
          </form>
        </div>
      </div>
      <%- include('../form/imageUploadForm')%>
    </div>
    <script src="js/commonFunction/commonFunction.js"></script>
    <script src="js/manager/manager.js"></script>
    <script src="js/manager/managerValidation.js"></script>
</body>

</html>